body
{
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}
header
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15) ;
    width: 100%;
    height: 8%;
}
header h1
{
    font-size: 1rem;
    font-weight: 600;
}
main
{
    width: 100%;
    height: 100%;
}
.pesquisas
{
    width: 100%;
    display: flex;
    align-items: center;
    padding:20px;
}
.pesquisas-box
{
    display: flex;
    align-items: center;
    width: 100%;
}
.box-btn-pesquisas
{
    width: 100%;
    font-weight: 500;
    padding: 15px;
    gap: 5px;
    white-space: nowrap;
    justify-content: center;
    display: flex;
}
.box-btn-pesquisas button
{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #12b88611;
    color: #12B886;
    padding: 15px;
    border: solid rgba(0, 0, 0, 0.052) 0.2px;
    border-radius: 10px;
}
button:hover
{
    cursor: pointer;
}
.btn-clicked
{ 
    background-color: #12B886;
    color: white;
}
.box-btn-pesquisa
{
    position: relative;
    width: 100%;
}
.box-btn-pesquisa div
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.pesquisa
{
    text-indent: 10px;
    gap: 10px;
    padding: 10px;
    background-color: #F1F3F5;
    border-radius:10px;
}
.pesquisa-icon
{
    background-color: #12B886;
    padding: 12px;
    border-radius: 10px;
}
.pesquisa-icon:hover
{
    cursor: pointer;
}
.valor-total
{
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.134);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.valor-text
{
    width: 60%;
    padding: 15px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.valor-text-preco
{
    width: 50%;
    display: flex;
    justify-content:flex-end;
    margin-right: 1rem;
    align-items: center;
}
.valor-preco
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    white-space: wrap;
    width: 20%;
    height:50%;
    color: white;
    border-radius: 5px;
    background-color: #212529;
    padding: 10px;
}
.vitrine
{
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    width: 100%;
    max-height:max-content;
}
.vitrine-produtos
{
    width:60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-flow: row wrap;
}
.dark
{
    background-color: #212529;
}
.produtos
{
    margin: 0 auto;
    display: flex;
    line-height: 15px;
    white-space: wrap;
    flex-flow: column nowrap;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;
}
.info-box
{
    display: flex;
    padding: 5px;
    flex-flow: column nowrap; 
    gap: 10px;
    align-items: center;
    justify-content: space-around; 
}
.img-produtos
{
    width: 100%;
    height:150px;
    border-radius: 10px;
}
.categoria-produtos
{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.568);
}
.preco-produtos
{
    font-size: 0.8rem;
}
.img-add
{
    width: 30px;
    height: 30px;

}
.img-add:hover
{
    cursor: pointer;
}
.produto__componentes
{
    text-align: center;
    color: #21252973;
    width: 250px;
    font-size: 0.8rem;
}
.carrinho
{
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width:30%;
    max-height:max-content;
}
.box-carrinho
{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    justify-content:flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
    height:100%;
}
.carrinho-header
{
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    background-color: #12B886;
}
.carrinho-header h2
{
    color: white;
}
.carrinho-produtos
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height:200px;
    overflow-y: auto;
}
.carrinho-box
{
    border-radius: 15px;
    text-align: center;
    line-height:1rem;
    width: 100%;
    height: 100%;
}
.hidden
{
    display: none;
}
.valores-pai
{
    width: 100%;
    height:max-content;
}
.valores
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.box-valores
{
    position: relative;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content:center;
    display: flex;
    flex-flow: column nowrap;
}
.box-quantidade
{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: #F8F9FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-total
{
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: #F8F9FA;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.carrinho-produto
{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.carrinho-box
{
    width: 200px;
    height: 100px;
}
.carrinho-box-msg
{   
    text-align: center;
    line-height: 2rem;
    padding: 100px;
    width: 100%;    
    height: 100%;
}
.carrinho-info
{
    display: flex;
    width: 100%;
    height: 100%;
}
.carrinho-p
{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.carrinho-p p:nth-child(1)
{
    font-weight: 700;
}
.carrinho-p p:nth-child(2)
{
    font-weight: 400;
}
.carrinho-p p:nth-child(3)
{
    color: #212529ab;
    font-weight: 400;
}
.carrinho-img
{
    width: 100px;
}
.box-remove
{
    display: flex;
    align-items: flex-start;
    width: 5%;
    height: 100%;
}
.btn-remove
{
    width: 100%;
}
figure
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    left: 10px;
    bottom: 0;
    opacity: 0.5;
    width: 50px;
    border-radius: 40px;
    height: 50px;
    position:fixed;
}
.btn-market-img
{
    width: 25px;
    height: 40px;
    border-radius: 100px;
}
.fixed
{
    position: fixed;
    animation: animator 2s;
}
.img-remove:hover
{
    cursor: pointer;
}
@keyframes animator {
    0%
    {
        transform: translate(0,50%);
        opacity: 0;
    }
    100%
    {
        transform: translate(0,0%);
        opacity: 1;
    }
}
@media (max-width : 1024px)
{
    .vitrine
    {
        flex-flow: column;
    }
    .vitrine-produtos
    {
        width:100%;
    }
    .carrinho
    {
        width: 100%;
    }
    .pesquisas-box
    {
        width: 100%;
        flex-flow: column wrap;
    }
    #pesquisa
    {
        width: 80%;
    }
}
@media (max-width: 800px)
{  
    .vitrine
    {
        gap:20px;
    }
    .pesquisas
    {
        position: relative;
    }
    .pesquisas-box
    {
        width: 100%;
        flex-flow: column wrap;
    }
    .box-btn-pesquisas
    {
        width: 100%;
        height: 100%;
        overflow-x: auto;
    }
    #pesquisa
    {
        width: 60%;
    }
    .valor-text
    {
        font-size: 0.8rem;
    }
    .valor-preco
    {
        width: 50%;
        font-size: 0.8rem;
    }
}
@media (max-width: 600px)
{
    vitrine
    {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
    }
    .vitrine-produtos
    {
        width: 100%;
        height: 20%;
        flex-flow: row nowrap;
        position: relative;
        justify-content: space-between;
        gap: 0px;
        overflow-x: auto;
    }
    .produtos
    {
        padding: 15px;
        max-width: 100%;
        max-height: 100%;
    }
    .img-produtos
    {
        width: 200px
    }
    .pesquisas
    {
        position: relative;
    }
    .box-btn-pesquisas
    {
        justify-content: space-between;
    }
}

